$mobile-title-font-size: 1.2rem;
$mobile-content-font-size: 1rem;
$pc-title-font-size: 2rem;
$pc-content-font-size: 1.6rem;

$tablets-width: 480px;
$pc-width: 1024px;
$header-height: 150px;
$footer-height: 200px;
$mobil-header-height: $header-height * 0.7;
$mobil-footer-height: $footer-height * 0.7;
